html {
    scroll-behavior: smooth;
    
}

body{
	margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;

    color: #e8eaed;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: rgb(90, 1, 233) !important;

    /* BLUES:                           // rgb(90, 1, 233) // 
    - Chrysler blue: #4802BE // #5302DA // #5A01E9        // #5102D4 
    - original: #16adf2
    */
}

.mask-text{
    text-shadow: -2px 0 rgb(25, 25, 25), 0 2px rgb(25, 25, 25), 2px 0 rgb(25, 25, 25), 0 -2px rgb(25, 25, 25);
}


.header_ h1{
    color: #000000;
    outline: #e8eaed 1px;

    position: absolute;
    color: #e8eaed;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 4px black;
    /* This piece below helps text to become centered */
    /* TEST */
    /* transform: scale(1,1.1) translate(-50%, 10%); */
    transform: translateZ(-0.5px) scale(1.5,1.6) translate(-33%,10%);
    transition: transform 0.5s;

    top: 30%;
    left: 50%;
}
.header_ h1:hover{
    transform: translateZ(-0.5px) scale(1.6,1.7) translate(-33%,10%);
}



.header_{
    width: 100%; 
	padding: 0px;
    margin: auto;
	overflow: hidden;

    text-align: center;

    overflow-y: auto;
    overflow-y: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    /* HIDDEN FOR BOTH WORKS BEST HERE */

    perspective: 1px;
    transform-style: preserve-3d;
    position: relative;
}

.header_ img{
    width: 100%;
    /* width: 80%; */
    
    /* height: 50vh; */
    /* height: 50%; */

    /* min-height: 100vh; */
    /* position: absolute; */
    /* Gives correct aspect ratio [object-fit] */
    object-fit: cover;
    /* object-fit:contain; */
    /* object-fit: fill; */


    z-index: -1;
    transform-style: preserve-3d;
    /* background-size: cover; */

    /* margin-bottom: -2em; */
}

.imgButton{
    position: relative;
    animation: slideInRight 1s ease-in-out;
}

.bg{
    transform: translateZ(-1px) scale(1.1);
    filter: blur(5px);
}

/* CONTAINER */
#heroCont{
    align-items: center;
    text-align: center;
}
/* SECTION */
.hero{
    padding-top: 2%;
    display: inline-block;
    /* vertical-align: top; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img{
    /* original method for width */
    /* max-width: 20%;
    max-height: 20%; */
    max-width: 50%;
    max-height: 50%;

    /* transform vfx */
    transform: scale(1.0,1.0); 
    transition: transform 0.3s;

    /*!! animation !!*/
    /* animation-name: slideInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; */

    /* animation: slideInRight 1s ease-in-out; */

    /* only play animation, when element is on screen */
    /* animation-timeline: view(); */
    /* animation-range: 0; */

}
.hero img:hover{
    transform: scale(1.1,1.1); 

    /* transform: translateX(-100px); */
    transform: translateX(-10px);
}

.hero h1, h2{
    color: #e8eaed;

    font-size: 100px;
    font-size: 10vh;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: -2px -2px 4px black;

    /* shadow to the left V */
    /* text-shadow: -6px -1px 4px black; */

    /* shadow to the right V */
    /* text-shadow: 10px 1px 4px black; */
    text-shadow: 10px -15px 10px black;
    /* text-shadow: 0px -10px -10px black; */

    /* padding-left: 20px; */

    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

    /* TRANSFOMRS */
    transform: scale(1.0,1.0); 
    transition: transform 0.3s;

    /*!! ANIMATION  !!*/
    animation: slideInLeft 1s ease-in-out;
}

.hero h1, h2:hover{
    text-shadow: 10px 15px 10px black;

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


    transform: scale(1.05,1.05); 
}

/* .clickableFigure{
    transform: translateX(-500px);
    transition: transform 0.3s;
} */

.menuButton{
    /* COLOR */
    /* background-color: transparent !important; */

    text-decoration: none;

    /* TRANSFOMRS */
    transform: scale(1.0,1.0); 
    transition: transform 0.3s;

    font-weight: normal;

    /* padding: 5px; */
    height: 1px !important;

    background-color: #e8eaed !important;
    color: #000000;


    border: 1px black dotted !important;
    border-radius: 20px !important;

    transform: rotateZ(5deg);
}
.menuButton:hover{
    transform: scale(1.02,1.02); 
    transform: rotateZ(0deg);
    /* transform: rotateY(10deg); */

    font-weight: bold;
}

.cloudBlock{
    position: relative;

    z-index: -2;
    border-radius: 50px !important;
    
    animation: floatSlow 3s ease;
    animation-iteration-count: infinite;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(rgb(90, 1, 233), rgb(69, 1, 179) ) !important;
}


/* ANIMATIONS */
/* home page */
@keyframes slideInRight {
    from{
        transform: translateX(-500px);
    }

    to{
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from{ transform: translateX(500px); }

    to{ transform: translateX(0);}
    
}

@keyframes floatSlow {
    0% { transform: translateX(20px); transform: translateY(10px); }
    50% { transform: translateX(0px); transform: translateY(0px); } 
    100%  { transform: translateX(20px); transform: translateY(10px); }
}